
header{
  display: flex;
  background: rgb(21 14 14);
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 15px 1px rgba(81, 77, 92, 0.5);
  padding: 30px;

  .img-header{
    width: 300px;
  }
  .notification{
    width: 25px;
  }
  .ola{
    color: #fff;
  }
  .notification-ola{
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .icon-avatar{
    width: 35px;
    cursor: pointer;
  }
  .content-icon-avatar{

  }
}


