<app-header></app-header>


<div class="site-cliente-container">
  <div class="content-title-central-magistrado">
    <h1 class="title-central-magistrado">{{ displayedText }}</h1>
  </div>


  <div class="block-site-cliente">
<div class="menu-options">
  <div class="block-options-site">
    <div class="block-itens">
      <h1>Cadastros</h1>
      <img src="assets/cadastros-icon.png" alt="">
      <button>Acessar</button>
    </div>

    <div class="block-itens">
      <h1>Agenda</h1>
      <img src="assets/agenda-icon.png" alt="">
      <button>Acessar</button>
    </div>


    <div class="block-itens">
      <h1>Atividades</h1>
      <img src="assets/atividades-icon.png" alt="">
      <button>Acessar</button>
    </div>

    <div class="block-itens">
      <h1>Financeiro</h1>
      <img src="assets/financeiro-icon.png" alt="">
      <button>Acessar</button>
    </div>
  </div>


  <div class="block-options-site">
    <div class="block-itens">
      <h1>Processos</h1>
      <img src="assets/processos-icon.png" alt="">
      <button>Acessar</button>
    </div>

    <div class="block-itens">
      <h1>Recursos</h1>
      <img src="assets/recursos-icon.png" alt="">
      <button>Acessar</button>
    </div>

    <div class="block-itens">
      <h1>Requerimentos</h1>
      <img src="assets/requerimentos-icon.png" alt="">
      <button>Acessar</button>
    </div>

    <div class="block-itens">
      <h1>Ensino</h1>
      <img src="assets/ensino-icon.png" alt="">
      <button>Acessar</button>
    </div>
  </div>


  <div class="block-options-site">
      <div class="block-itens">
        <h1>Mala Direta</h1>
        <img src="assets/mala-direta-icon.png" alt="">
        <button>Acessar</button>
      </div>


    <div class="block-itens">
      <h1>Exportação/Importação</h1>
      <img src="assets/importacao-icon.png" alt="">
      <button>Acessar</button>
    </div>

    <div class="block-itens">
      <h1>Relatórios</h1>
      <img src="assets/relatorios-icon.png" alt="">
      <button>Acessar</button>
    </div>

    <div class="block-itens">
      <h1>Segurança</h1>
      <img src="assets/seguranca-icon.png" alt="">
      <button>Acessar</button>
    </div>
</div>


  </div>




</div>
