
<header class="header">

  <div class="mini-header">

    <div>
      <span class="desenvolvido-por">Desenvolvido por Mengarelli Tecnologia</span>
    </div>

<div class="bloco-imgs">
  <img src="./assets/ixamatra.png" alt="IX amatra - Associação dos Magistrados do Trabalho" title="IX amatra - Associação dos Magistrados do Trabalho" class="img-logo-amatra">
  <img src="./assets/ixematra.png" alt="IX amatra - Associação dos Magistrados do Trabalho" title="IX amatra - Associação dos Magistrados do Trabalho" class="img-logo-ematra">
</div>




    <div>
    <button (click)="navigateAdmin()">Login admin</button>
    <button (click)="navigateCliente()">Login cliente</button>
  </div>

  </div>

<div class="header-sub-1">
  <div>
    <span class="sistema-associado">Sistema de Gerenciamento para Associações de Magistrados</span>
  </div>
  <div>
  </div>


</div>



<div class="header-sub-2">


<div>
<span>17/06 - 21:40:00</span>
</div>


<div>
  <span><a href="#">Contato</a></span>
</div>

<div>
  <span><a href="#">Mengarelli Tecnologia</a></span>
</div>

<div>
  <span><a href="#">Sobre</a></span>
</div>

</div>
</header>

<div class="content-center">


  <div class="content-text">
    <p>A Amatra IX é a associação que representa os magistrados da Justiça do Trabalho da 9ª Região, que abrange o estado do Paraná. Sua missão é defender os interesses e os direitos dos juízes do trabalho, promover a valorização da magistratura trabalhista e contribuir para o aperfeiçoamento do Direito do Trabalho.</p>

    <p><strong>Representação Institucional:</strong> Defender os direitos e interesses dos magistrados da Justiça do Trabalho da 9ª Região.</p>
    <p><strong>Aperfeiçoamento Profissional:</strong> Promover cursos, seminários e eventos que visem ao aprimoramento técnico e jurídico dos seus associados.</p>
    <p><strong>Valorização da Magistratura:</strong> Atuar para a valorização da carreira dos juízes do trabalho, buscando melhores condições de trabalho e remuneração adequada.</p>
    <p><strong>Contribuição Social:</strong> Desenvolver ações e projetos sociais que promovam a justiça social e a cidadania.</p>

    <h3>Atividades</h3>
    <p>A Amatra IX organiza diversas atividades voltadas para seus associados e para a sociedade em geral, incluindo:</p>

    <ul>
      <li class="adaptacao"><strong>Eventos Jurídicos:</strong> Seminários, congressos e palestras sobre temas relevantes do Direito do Trabalho e da Justiça do Trabalho.</li>
      <li class="adaptacao"><strong>Publicações:</strong> Produção de artigos, revistas e boletins informativos sobre jurisprudência e questões trabalhistas.</li>
      <li class="adaptacai"><strong>Ações Sociais:</strong> Projetos de cidadania e justiça social, buscando aproximar a Justiça do Trabalho da comunidade.</li>
    </ul>
<div>
    <h3>Importância</h3>
    <p class="adaptacao">A atuação da Amatra IX é fundamental para garantir a independência e a autonomia da magistratura trabalhista, além de contribuir para o desenvolvimento do Direito do Trabalho no Brasil. Ela serve como uma voz ativa na defesa dos magistrados e no fortalecimento da Justiça do Trabalho, visando sempre ao bem-estar dos trabalhadores e à equidade nas relações de trabalho.</p>
</div>
  </div>

  <div class="content-img-juiz">
    <img src="./assets/juiz.jpeg" alt="" class="img-juiz">
  </div>
</div>



<!-- O que é o IX Amatra?
IX Amatra refere-se à 9ª Região da Associação dos Magistrados da Justiça do Trabalho (Amatra IX). A Amatra é uma entidade de classe que representa os juízes do trabalho de uma determinada região do Brasil. Essas associações são divididas por regiões correspondentes aos Tribunais Regionais do Trabalho (TRTs), que são responsáveis pela jurisdição trabalhista em suas respectivas áreas geográficas.

Breve Resumo
A Amatra IX é a associação que representa os magistrados da Justiça do Trabalho da 9ª Região, que abrange o estado do Paraná. Sua missão é defender os interesses e os direitos dos juízes do trabalho, promover a valorização da magistratura trabalhista e contribuir para o aperfeiçoamento do Direito do Trabalho.

Principais Objetivos
Representação Institucional: Defender os direitos e interesses dos magistrados da Justiça do Trabalho da 9ª Região.
Aperfeiçoamento Profissional: Promover cursos, seminários e eventos que visem ao aprimoramento técnico e jurídico dos seus associados.
Valorização da Magistratura: Atuar para a valorização da carreira dos juízes do trabalho, buscando melhores condições de trabalho e remuneração adequada.
Contribuição Social: Desenvolver ações e projetos sociais que promovam a justiça social e a cidadania.
Atividades
A Amatra IX organiza diversas atividades voltadas para seus associados e para a sociedade em geral, incluindo:

Eventos Jurídicos: Seminários, congressos e palestras sobre temas relevantes do Direito do Trabalho e da Justiça do Trabalho.
Publicações: Produção de artigos, revistas e boletins informativos sobre jurisprudência e questões trabalhistas.
Ações Sociais: Projetos de cidadania e justiça social, buscando aproximar a Justiça do Trabalho da comunidade.
Importância
A atuação da Amatra IX é fundamental para garantir a independência e a autonomia da magistratura trabalhista, além de contribuir para o desenvolvimento do Direito do Trabalho no Brasil. Ela serve como uma voz ativa na defesa dos magistrados e no fortalecimento da Justiça do Trabalho, visando sempre ao bem-estar dos trabalhadores e à equidade nas relações de trabalho.

Esse resumo pode ser adicionado à sua tela de desenvolvimento para fornecer informações claras e concisas sobre a IX Amatra, destacando sua missão, objetivos e importância na defesa dos direitos dos magistrados e na promoção da justiça trabalhista. -->

<app-cookie-consent></app-cookie-consent>
<!-- Outros conteúdos da aplicação -->

<!-- Outros conteúdos da aplicação -->


<!-- Página pública em manutenção
<h1>Acesse aqui</h1>
<button (click)="navigateAdmin()">Login admin</button>

<button (click)="navigateCliente()">Login cliente</button> -->


<!-- 11 de agosto dia do magistrado -->
